/* .App {
  font-family: sans-serif;
  text-align: center;
}

.heading {
  text-align: center;
  font-size: 50px;
  font-weight: bolder;
  color: black;
}

ul {
  color: blue;
}

img {
  display: flex;
  margin: 5px auto;
  max-width: 90%;
  height: auto;
} */
